/* css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border: 1px solid rgb(192, 192, 193);
}

.row {
  display: flex;
}

.cell {
  flex: 1 0 auto;
  height: 20px;
  border: 1px solid rgb(192, 192, 193);
}